.card {
    background-color: #fff;
    border: 1px solid #f7f7f7;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.10);
    
}
 
.card-title {
    color: #999;
    text-transform: uppercase;
    font-size: 14px;
    font-family: tahoma;
    padding: 1rem;  
} 