/*configurações gerais*/
* {
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	height: 100%;
	background-color: #f2f2f2;	
}

.cabecalho, 
.rodape {
	width: 100%;
}
/*cabeçalho*/
.cabecalho { 
	height: 60px;
	background-color: #464A4F;
	text-align: center;
	}

		.cabecalho h1 {
				color: white;
				font: normal 20px sans-serif;
				text-transform: uppercase;
				padding: 20px;		
			}
/*corpo principal ( posts ) */			
		.main {
			height: calc(100% - 180px);
			width: 90%;
			margin: 0 auto;
			display: flex;
			flex-direction: row;
			align-items: center;
			}

		/*post da esquerda*/
			.post_list {
				width: 60%;
				height: 90%;
				float: left;
				overflow: auto;	
			}
			.artigos {
				width: 90%;
				margin: 0 5%;
				list-style: none;
			}
			.artigoslista h4 {
				color: orange;
				font-family: sans-serif;
				text-transform: capitalize;
				
			}
			.artigoslista p {
				color: gray;
				text-align: justify;	
				line-height: 1.5;
			}

			.artigoslista span {
				color: darkgray;
				float: right;
				margin: 3px;	
	
			}
			
			.artigoslista {
				list-style-type: none;
				border-bottom: 1px dotted black;
				display: inline-block;
				margin: 5px;
			 }

			.artigos li:last-child{
				border: none;
			}

			
/*Colunas á direita*/
			.sidebar {
				float: right;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				width: 35%;
				height: 90%;
				margin-left: 2.5%;
				overflow: hidden;
				}

			.autores_list {
				width: 100%;
				height: 45%;
				align-self: flex-start;	
				overflow: auto;	
				}

			.autores {
				display: inline-block;
				width: 90%;
				margin: 2.5% 5%;
				list-style-type: none;
				
			}

			.autores li {
				display: inline-block;
				width: 100%;
				height: 40%;
				margin-top: 10px;
				border-bottom: 1px dotted #dedede;
			}

			.autores li:last-child{
				border: none;
			}

			.bola {
				width: 40px;
				height: 40px;
				background-color: grey;
				border-radius: 50%;
				margin: 10px;
				float: left;
			}
			.info {display: inline-block}

			.info span {
				font-weight: normal;
				font-size: .75rem;
				text-transform: lowercase;
			}

			.info span:first-child {
				font-weight: bold;
				font-size: .75rem;
				text-transform: uppercase;
				color: #464a4f;
			}

			
			.autores span {
				float: left;
				margin: 10px 5px 0px 0px;
			}
			
			.imagens_list {
				width: 100%;
				height: 45%;
				align-self: flex-end;
				}

/* Rodape*/			
		.rodape {
			height: 120px;
			background-color: #EEEEEE;
			}

		
		
		



